<div class="container text-center">
  <h1 class="text-center">New Game</h1>
  <div class="container d-flex justify-content-center">
  
    <ul class="list-group list-group-horizontal-lg flex-row">
      <% @letters.each do |letter| %>
        <li class="list-group-item flex-fill m-0 bg-primary font-weight-bolder"><%= letter %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="container text-center my-3">
    <div class="w-50 mx-auto">
      <form action="/score">
        <div class="form-group">
          <label for="word">Make the longest possible word from the letters above</label>
          <input type="text" class="form-control" name="word" id="word">
          <input type="hidden" value="<%= @letters %>" name="grid">
        </div>
        <button type="submit" class="btn btn-primary" value="Score!">Submit Answer</button>
      </form>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </div>
</div>
